<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="MainConnectionString" connectionString="Data Source=.\SQLEXPRESS;Server=DESKTOP-MDBCPBR\LOCALDB;Initial Catalog=Purchases;Integrated Security=True; User Id=PurchasesUser; Password=1234"/>
    </connectionStrings>
</configuration>